body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menucard{
  margin-bottom: 3%;
  width: 40rem;
}

.cancelbutton{
  margin-top: 15%;
  margin-bottom: 2%;
  width: 10rem;
}

.imgsize{
  width: 200px;
  height: 250px;
}

.listgroup{
margin-right: 40px;
}

.deleteicon{
  width: 30px;
  height: 30px;
}

.deletebutton{
background-color:white;
border: white;
}

.updateitem-main-card {
  width: 30rem;
  height: 60rem;
}

.updateitem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 300px;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 70%;
  height: 480px;
  background-color: #FFF;  
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}